*{
    margin: 0px;
    padding: 0px;
}
.top{
    background: pink;
    color: white;
    line-height: 60px;
    text-align: center;
}
.body{
    width: 400px;
    margin:0 auto;
    padding: 5px;
}
.bodyi{
    width: 400px;
    height: 300px;
}
dt{
    padding: 5px;
}